.ExploreMenu {
  display: none;
}

.LogIn {
  width: 21.5vw;
  min-width: 21.5vw;
  height: 27.5vw;
  border-radius: 20px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  background-color: #212322;
  margin-top: 4.5rem;
  margin-left: 10vw;
}

a .fa {
  text-align: center;
  font-size: 4.5vw;
  color: #f5e502;
  cursor: default;
  margin-left: 1.8vw;
  margin-top: 1.2vw;
  text-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.LogInLabel {
  font-family: roundy;
  color: #f5e502;
  padding: 0;
  margin-top: 5%;
  margin-left: 30%;
  font-size: 3vw;
}

.IconBackground {
  margin-top: 3.5vw;
  margin-left: 7vw;
  width: 7.5vw;
  height: 7.5vw;
  border-radius: 50%;
  background-color: #212322;
  border-width: 0.01rem;
  border-style: solid;
  border-color: #f5e502;
  box-shadow: inset 0 15px 20px rgba(0, 0, 0, 0.2);
}

.EmailBox {
  height: 2vw;
  width: 10vw;
  margin-left: 2.5vw;
  margin-top: 2vw;
}

.PasswordBox {
  height: 2vw;
  width: 10vw;
  margin-left: 2.5vw;
  margin-top: 2vw;
}

:root {
  --bg: 353636;
}

.form {
  font-family: roundy;
  position: relative;
  width: 30vw;
  height: 8vw;
  left: 10px;
}

.form__input {
  font-family: roundy;
  position: absolute;
  border: 0.01rem solid #f5e502;
  border-radius: 3.5rem;
  font-size: 1rem;
  color: #f5e502;
  outline: none;
  padding: 0.35rem;
  padding-left: 0.8rem;
  background: none;
  width: 16vw;
}

.form__input:focus {
  border-color: #f5e502;
  padding-left: 0.8rem;
  width: 16vw;
}

.form__label {
  font-family: roundy;
  font-size: 1 rem;
  position: relative;
  left: 0.8rem;
  top: 0.5rem;
  padding: 0;
  color: #f5e502;
  cursor: text;
  transition: 250ms cubic-bezier(0.79, 0, 0.16, 0.99);
  background-color: #212322;
}

/* 1. When the input is in the focus state reduce the size of the label and move upwards 2. Keep label state when content is in input field */
.form__input:focus ~ .form__label, .form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -0.8vw;
  font-size: 1vw;
  left: 0.8vw;
  padding: 0 0.5rem;
  color: #f5e502;
}

@media (max-width: 59.4rem) {
  .LogIn {
    display: none;
  }
  .ExploreMenu {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 25% 25% 25% 25%;
    margin-top: 7rem;
    margin-left: 10vw;
    max-width: 3rem;
    height: calc(clamp(10rem, 40vw, 20rem) - 5rem);
    border-radius: 1.5rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    background-color: #212322;
  }
  .ExploreMenu .ExploreButton {
    cursor: pointer;
    background-color: transparent;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    margin-top: 0.25rem;
    margin-left: 0.25rem;
    color: #f5e502;
    font-size: 2rem;
    line-height: 2rem;
  }
  .ExploreMenu .ExploreButton:hover {
    background-color: #4e4e4e;
  }
  .ExploreMenu .BookmarksButton {
    cursor: pointer;
    background-color: transparent;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    margin-top: 1vw;
    margin-left: 0.25rem;
    color: #f5e502;
    font-size: 1.75rem;
    line-height: 25%;
  }
  .ExploreMenu .BookmarksButton:hover {
    background-color: #393b3a;
  }
  .ExploreMenu .InboxButton {
    cursor: pointer;
    background-color: transparent;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    margin-top: 1vw;
    margin-left: 0.25rem;
    color: #f5e502;
    font-size: 1.5rem;
    line-height: 25%;
  }
  .ExploreMenu .InboxButton:hover {
    background-color: #393b3a;
  }
  .ExploreMenu .ProfileButton {
    cursor: pointer;
    background-color: transparent;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    margin-left: 0.25rem;
    color: #f5e502;
    font-size: 1.5rem;
  }
  .ExploreMenu .ProfileButton:hover {
    background-color: #393b3a;
  }
}
@media (max-width: 37.5rem) {
  .ExploreMenu {
    margin-left: calc((100vw - 10rem) / 2);
    position: absolute;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    margin-top: 4.5rem;
    width: 10rem;
    min-width: 10rem;
    height: 3rem;
    border-radius: 1.5rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    background-color: #212322;
  }
  .ExploreMenu .ExploreButton {
    background-color: transparent;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    margin-top: 0.25rem;
    margin-left: 0.25rem;
    color: #f5e502;
    font-size: 2rem;
    line-height: 2rem;
  }
  .ExploreMenu .ExploreButton:hover {
    background-color: #393b3a;
  }
  .ExploreMenu .BookmarksButton {
    background-color: transparent;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    margin-top: 0.25rem;
    margin-left: 1vw;
    margin-right: 1.5vw;
    color: #f5e502;
    font-size: 1.75rem;
    line-height: 2rem;
  }
  .ExploreMenu .BookmarksButton:hover {
    background-color: #393b3a;
  }
  .ExploreMenu .InboxButton {
    background-color: transparent;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    margin-top: 0.25rem;
    margin-left: 0.5vw;
    margin-right: 10%;
    color: #f5e502;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .ExploreMenu .InboxButton:hover {
    background-color: #393b3a;
  }
  .ExploreMenu .ProfileButton {
    position: unset;
    background-color: transparent;
    float: right;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    margin-top: 0.25rem;
    margin-right: 0.25rem;
    color: #f5e502;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .ExploreMenu .ProfileButton:hover {
    background-color: #393b3a;
  }
}
