.SearchBar {
  z-index: 2;
  grid-row: 1/2;
  grid-column: 3/4;
  height: 2rem;
  width: 2rem;
  background: #393b3a;
  border-radius: 20px;
  margin: 0.5rem;
  padding: 0.1rem;
  position: relative;
  transition: 300ms ease-in-out;
  margin-left: auto;
}
.SearchBar__input {
  position: absolute;
  flex-grow: 1;
  font-size: 1.2rem;
  padding-left: 0.8rem;
  padding-top: 0.2rem;
  background: transparent;
  color: #f5e502;
  opacity: 0;
  width: 80%;
  cursor: pointer;
}
.SearchBar__input:focus {
  outline: 0px;
}
.SearchBar__submit {
  font-size: 1.2rem;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  margin-left: auto;
  transition: 150ms ease-in-out;
  color: #f5e502;
  padding: 0.25rem 0.35rem 0.25rem 0.25rem;
}
.SearchBar__submit:hover {
  color: #f0e65a;
}
.SearchBar:focus-within {
  width: 80%;
  outline: 50px rgb(22, 22, 22);
}
.SearchBar:focus-within .SearchBar__input {
  opacity: 1;
  cursor: auto;
}

::placeholder {
  font-size: 18px;
  color: rgba(245, 229, 2, 0.8980392157);
}

@media (max-width: 37.5rem) {
  .SearchBar:focus-within {
    width: 77vw;
  }
}
