.ButtonHolder {
  padding: 0.25rem;
  padding-top: 0.8rem;
  height: 7rem;
  width: 2.5rem;
  margin-top: 10.7rem;
  margin-right: 6vw;
  background-color: #212322;
  border-radius: 0 1.5rem 1.5rem 0;
}
.ButtonHolder .BackButton {
  padding: 0.2rem;
  height: 2rem;
  width: 2rem;
  min-height: 2rem;
  min-width: 2rem;
  border-radius: 1.5rem;
  background-color: #212322;
  padding-left: 0;
}
.ButtonHolder .BackButton i {
  font-size: 2.5rem;
  margin-left: -0.3rem;
  color: rgba(245, 229, 2, 0.7725490196);
}
.ButtonHolder .ForwardButton {
  padding: 0.2rem;
  height: 2rem;
  width: 2rem;
  min-height: 2rem;
  min-width: 2rem;
  border-radius: 1.5rem;
  background-color: #212322;
  padding-left: 0;
}
.ButtonHolder .ForwardButton i {
  font-size: 2.5rem;
  margin-left: 0.5rem;
  color: rgba(245, 229, 2, 0.7725490196);
}
