.SearchBar{
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    height: 2rem;
    width: 2rem;
    background: rgb(49, 49, 49);
    border-radius: 20px;
    margin: 0.5rem;
    padding: 0.1rem;
    position: relative;
    transition: 300ms ease-in-out;
    margin-left: auto;
    
    &__input {
        position: absolute;
        flex-grow: 1;
        font-size: 1.2rem;
        padding-left: 0.8rem;
        padding-top: 0.20rem;
        background: transparent;
        color: #FFFF33;
        opacity: 0;
        width: 80%;
        cursor: pointer;

        &:focus{
            outline: 0px;
        }
    }
    &__submit{
        font-size: 1.2rem;
        background-color: transparent;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        margin-left: auto;
        transition: 150ms ease-in-out;
        color: #FFFF33;
        margin-top: 0.2rem;
        margin-right: 0.12rem;

        &:hover{
            color: #fafa75;
        }
    }

    &:focus-within {
        width: 80%;
        .SearchBar__input{
            opacity: 1;
            cursor: auto;
        }
        outline: 50px rgb(22, 22, 22);
    }
}    

::placeholder{
    font-size: 20px;
}

@media (max-width : 600px) {
    .SearchBar{
        grid-column: 1 / 4;
        &:focus-within {
            width: 73vw;
            margin-right: 2vw;
        }
    }
}